<!DOCTYPE html> 
<html lang="en"> 
<head> 
    <meta charset="UTF-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta name="viewport" content="width=\, initial-scale=1.0"> 
    <title>Delete post</title> 
</head> 
<body> 
    <h1>Delete post</h1> 
    <p>Are you sure you want to delete the following post?</p> 
    <p>Title: {{ post.title }}</p> 
    <p>Description: {{ post.description }}</p> 
    <form method="post"> 
        <button type="submit">Delete</button> 
    </form> 
</body> 
</html>